body {
    background-color: hsl(30, 38%, 92%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.big-title {
    font-family: 'Fraunces',serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
}
.small-title {
    font-family: 'Monserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    padding-bottom: 8px;
    letter-spacing: 5px;
}
.card-body {
    padding: 30px 25px 25px 25px;
}
.description {
    font-family: 'Monserrat',sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: hsl(228, 12%, 48%);
   
}
.green-button {
    padding: 10px 60px;
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 auto;
}
.green-button:hover {
    background-color: #14613d;
}
.current-price {
    color: #198754;
    font-family: 'Fraunces',serif;
    font-weight: 500;
    font-size: 35px;
    margin-right: 20px;
}
.old-price {
    font-family: 'Monserrat', sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}
@media only screen and (max-width: 770px) {
    
}